.background{
    background-color: #121212;
}

.middleBanner{
    height: 50vh;
    width: 100vw;
    margin: 25px 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color:black; */

}
.bottomBanner{
    display: flex;
    height: 200px;
    width: 100%;
    margin-top: 300px;
    /* background-color:blueviolet; */
    .showTimeButton{
        background-color: #a800b7;
        width: 200px;
        height: 100px;
        margin-right: 550px;
        margin-left: 500px;
        color: whitesmoke;
    }
}


.buttonGroup{
    display: flex;

}

