.background{
    background-color: #121212;
}

.middleBanner{
    height: 50vh;
    width: 100vw;
    margin: 25px 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color:black; */

}
.bottomBanner{
    display: flex;
    height: 200px;
    width: 100%;
    /* background-color:blueviolet; */
}